
#bj{
    width: 100%;
    height: 120rem;
    background: url("../img/chinesePs.png")no-repeat;
    background-size: cover;
}
#location{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
#location li{
    margin-top: 1rem;
}
#location li a{
    display: block;
    width: 8rem;
    height: 7rem;
    /*background-color: rgba(0,0,0,0.4);*/


}