#bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#fanC,#fanP{
    position: absolute;
    z-index: 10;
    overflow: auto;
    width: 247px;
    height: 203px;
}
#fanC{
    top: 28%;
    left:13%;
    background: url("../img/fanCbj.png");
    background-size: cover;
}
#fanP{
    top: 28%;
    right:0;
    background: url("../img/fanPbj.png");
    background-size: cover;
}
#fanC img,#fanP img{
    position: absolute;
    width: 50%;
    left: 5.5%;
    top: 8%;
}
#fanP img{
    left: 5%;
    top: 3%;
}
#chinese,#pianting{
    position: absolute;
    width: 2rem;
    top:80%;
    z-index: 2;
}
#chinese{
    left: 18%;
}
#pianting{
    right:18%;
}
/*#fanP,#fanC*/
/*{*/
    /*animation:mymove 3s linear infinite;*/
    /*-webkit-animation:mymove 3s linear infinite; !*Safari and Chrome*!*/
/*}*/

@keyframes mymove
{
    0%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(0deg);
    }
    25%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(60deg);

    }
    50%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(0deg);
    }
    75%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(-60deg);
    }
    100%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    0%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(0deg);
    }
    25%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(60deg);

    }
    50%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(0deg);
    }
    75%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(-60deg);
    }
    100%{
        transform: rotate3d(0,0,0,0deg);
        transform: rotateY(0deg);
    }
}