body{
    background: url("../img/piantingP.png")no-repeat;
    background-size: cover;
}
/*#pianting li:nth-of-type(even){*/
    /*margin-left: 10px;*/
/*}*/
/*#pianting li:nth-of-type(even) img{*/
    /*width: 5rem;*/
/*}*/
/*#pianting li:nth-of-type(odd){*/
    /*margin-left: 20px;*/
/*}*/
/*#pianting li:nth-of-type(odd) img{*/
    /*width: 2.5rem;*/
/*}*/
#one,#two,#three{
    position: absolute;
}
#one{
    top: 2rem;
    left: 1rem;
}
#two{
    top:2rem;
    left:13rem;
}
#three{
    left:10rem;
    top: 3rem;
}
#back{
    position: fixed;
    bottom: 5%;
    margin-left: 47%;
}
#back img{
    width: 1.5rem;
}
